<mat-card *ngIf="egyNavAdat.belepesNapja" style="padding: 0;">
  <div class="jobb-oldal-felso-panel">
    <div class="bal-felso-adat-box">
        <div style="text-align: center;font-size: 1em;font-weight: 700;padding: 0.5em;color: var(--default-primary-color)">Munkavállaló adatok</div>
      <div class="nav-text-box">
              <span class="nav-title">
                Munkavállaló neve:
              </span>
        <span class="nav-adat">
                {{egyMunkavallalo.neve}}
              </span>
      </div>
      <div class="nav-text-box">
              <span class="nav-title">
                TAJ száma:
              </span>
        <span class="nav-adat">
                {{egyMunkavallalo.tajSzama}}
              </span>
      </div>
      <div class="nav-text-box">
              <span class="nav-title">
                Adószáma:
              </span>
        <span class="nav-adat">
                {{egyMunkavallalo.adoszam}}
              </span>
      </div>
      <div class="nav-text-box">
              <span class="nav-title">
                Belépés napja:
              </span>
        <span class="nav-adat">
                {{ egyNavAdat.belepesNapja | date: 'yyyy-MM-dd' }}
              </span>
      </div>
      <div class="nav-text-box">
              <span class="nav-title">
                Kezdés napja::
              </span>
        <span class="nav-adat">
                {{ egyNavAdat.kezdesNapja | date: 'yyyy-MM-dd' }}
              </span>
      </div>
      <div class="nav-text-box">
              <span class="nav-title">
                Munkanapok száma:
              </span>
        <span class="nav-adat">
                {{ egyNavAdat.munkanapokSzama }} nap
              </span>
      </div>
      <div class="nav-text-box">
              <span class="nav-title">
                Jellege:
              </span>
        <span class="nav-adat">
                {{ egyNavAdat.foglalkoztatasJellege }}
              </span>
      </div>
      <div class="nav-text-box">
              <span class="nav-title">
                Adatlap típusa:
              </span>
        <span class="nav-adat">
                {{ egyNavAdat.adatlapTipusa }}
              </span>
      </div>
      <div class="nav-text-box">
              <span class="nav-title">
                NAV nyilvántartási száma:
              </span>
        <span class="nav-adat">
                {{ egyNavAdat.navNyilvantartasiSzama }}
              </span>
      </div>
    </div>
    <div class="jobb-felso-adat-box">
        <div style="text-align: center;font-size: 1em;font-weight: 700;padding: 0.5em;color: var(--default-primary-color)">Munkanapok</div>
      <mat-grid-list cols="5" rowHeight="4em">
        <mat-grid-tile *ngFor="let element of munkavallaloiRogzitettAdatokDTO">
          <button class="alap-button" [ngClass]="(element.statusz=='INAKTIV')?'bg-black':null" [disabled]="element.statusz" (click)="munkaoraRogzites(element)">{{element.munkanapDatuma | date: 'yyyy-MM-dd' }}</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</mat-card>
