<div class="flexbox-parent">
  <div>
    <app-header></app-header>
  </div>

  <div class="flexbox-item fill-area content flexbox-item-grow">
    <div class="bal-oldal">
      <app-munkaorak-nav-adatok (felhasznaloNavAdat)='bejelentesvalasztas($event)' (munkavallalo)='munkavallaloValasztas($event)'></app-munkaorak-nav-adatok>
    </div>
    <div class="jobb-oldal">
      <app-munkaorak-szervezet-panel
        [egyNavAdat]="egyBejelentettNavAdat"
        [egyMunkavallalo]="kivalasztottFelhasznalo" (munkavallaloiRogzitettAdatok)='munkavallaloiRogzitettAdatok($event)'>
      </app-munkaorak-szervezet-panel>
      <app-munkaorak-rogzitese-panel
        [egyNavAdat]="egyBejelentettNavAdat"
        [munkavallaloiRogzitettAdat]="munkavallaloiRogzitettAdatokDTO">
      </app-munkaorak-rogzitese-panel>
    </div>
  </div>
</div>
