<app-header></app-header>

<ng-container>
  <mat-grid-list cols="3" rowHeight="12em">
<!--    <mat-grid-tile>-->
<!--      <mat-card routerLink="/rendszerparameterek" class="p-3 overflow-hidden app-dashboard-tile">-->
<!--        <div class="tile-box">-->
<!--          <div class="image-box">-->
<!--            <img style="width: 100%; object-fit: contain" src="../../assets/dashboard/betoltes.png"/>-->
<!--          </div>-->
<!--          <div class="text-box">-->
<!--              <span class="app-dashboard-header">-->
<!--                NAV adatok betöltése-->
<!--              </span>-->
<!--            <span class="app-dashboard-text">-->
<!--                Feldolgozásra váró adat:-->
<!--              </span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </mat-card>-->
<!--    </mat-grid-tile>-->
    <mat-grid-tile>
      <mat-card routerLink="/nav-adatok-betoltese" class="p-3 overflow-hidden app-dashboard-tile">
        <div class="tile-box">
          <div class="image-box">
            <img style="width: 100%; object-fit: contain" src="../../assets/dashboard/system.png"/>
          </div>
          <div class="text-box">
              <span class="app-dashboard-header">
                Adatok betöltése
              </span>
            <span class="app-dashboard-text">
                NAV-től letöltött adatok betöltése
              </span>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="">
      <mat-card routerLink="/munkavallalok" class="p-3 overflow-hidden app-dashboard-tile">
        <div class="tile-box">
          <div class="image-box">
            <img style="width: 100%; object-fit: contain" src="../../assets/dashboard/people.png"/>
          </div>
          <div class="text-box">
              <span class="app-dashboard-header">
                Munkavállalói adatok
              </span>
            <span class="app-dashboard-text">
                Hiányos adatú munkaválalók száma:
              </span>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card routerLink="/szervezetek" class="p-3 overflow-hidden app-dashboard-tile">
        <div class="tile-box">
          <div class="image-box">
            <img style="width: 100%; object-fit: contain" src="../../assets/dashboard/szervezet.png"/>
          </div>
          <div class="text-box">
              <span class="app-dashboard-header">
                Szervezeti egységeg törzs
              </span>
            <span class="app-dashboard-text">
                Szervezeti egységek száma:
              </span>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card routerLink="/munkaorak" class="p-3 overflow-hidden app-dashboard-tile">
        <div class="tile-box">
          <div class="image-box">
            <img style="width: 100%; object-fit: contain" src="../../assets/dashboard/ora.png"/>
          </div>
          <div class="text-box">
              <span class="app-dashboard-header">
                Munkaórák rögzítése
              </span>
            <span class="app-dashboard-text">
                Még nem történt rögzítés:
              </span>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card routerLink="/munkaorak-nyomtatasa" class="p-3 overflow-hidden app-dashboard-tile">
        <div class="tile-box">
          <div class="image-box">
            <img style="width: 100%; object-fit: contain" src="../../assets/dashboard/betoltes.png"/>
          </div>
          <div class="text-box">
              <span class="app-dashboard-header">
                NAV igazolás nyomtatása
              </span>
            <span class="app-dashboard-text">
                Legutolsó nyomtatás időpontja
              </span>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="p-3 overflow-hidden app-dashboard-tile">
        <div class="tile-box">
          <div class="image-box">
            <img style="width: 100%; object-fit: contain" src="../../assets/dashboard/betoltes.png"/>
          </div>
          <div class="text-box">
              <span class="app-dashboard-header">
                Kulcs Excel generálás
              </span>
            <span class="app-dashboard-text">
                Legutolsó generálás időpontja:
              </span>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card routerLink="/rendszerparameterek" class="p-3 overflow-hidden app-dashboard-tile">
        <div class="tile-box">
          <div class="image-box">
            <img style="width: 100%; object-fit: contain" src="../../assets/dashboard/system.png"/>
          </div>
          <div class="text-box">
              <span class="app-dashboard-header">
                Rendzsreparaméterek
              </span>
            <span class="app-dashboard-text">
                *****
              </span>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>


