.app-toolbar {
  background: var(--dark-primary-color);
  color: var(--text-primary-color);
  font-size: 2em;
}

.page-title {

}

.app-dashboard-tile {
  height: calc(100% - 2em);
  width: calc(80% - 2em);
  border-radius: 2em;
  border: 1px solid var(--dark-primary-color);
  box-sizing: border-box;
  margin: 2em;
  background: var(--default-primary-color);
  filter: drop-shadow(8px 8px 5px #b0b0b0);
  cursor: pointer;
}

.tile-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-box {
  display: flex;
  margin-right: 4%;
  width: 25%;
  height: 100%;
}

.text-box {
  width: 75%;
  height: 100%;
  padding-top: 1em;
}

.app-dashboard-header {
  margin-top: 0.5em;
  text-align: left;
  font-size: 1.3vw;
  display: inline-block;
  width: 100%;
  color: var(--light-primary-color);
}

.app-dashboard-text {
  margin-top: 1em;
  text-align: left;
  font-size: 1vw;
  display: inline-block;
  width: 100%;
  color: var(--text-primary-color);
}
