<mat-dialog-content>
  <h2 class="title">{{ fejlecCime }}</h2>
  <form [formGroup]="rogzitettAdatokForm">
    <div>
      <div class="flex-container">
        <div class="egy-from-box">
          <mat-form-field>
            <mat-label>Szervezet kód</mat-label>
            <input class="mat-input-text" [(ngModel)]="szervezetKod" formControlName="szervezetKod" matInput type="text" tabindex="1"
                   (blur)="szervezetLekereseKodAlapjan()"
                   required>
            <mat-error>A szervezeti kód csak számokat tartalmazhat</mat-error>
          </mat-form-field>
        </div>
        <div class="ket-from-box">
          <mat-form-field>
            <mat-label>Szervezet név</mat-label>
            <input class="mat-input-text" matInput type="text" value="{{kivalasztottReszlegNev}}" disabled="true">
          </mat-form-field>
        </div>
        <div class="ket-from-box">
          <mat-checkbox class="check-box-text" [(ngModel)]="munkaszunetinap" formControlName="munkaszunetinap" (change)="unnepnapSzamolasa()">
            Munkaszüneti nap
          </mat-checkbox>
        </div>
      </div>

      <div class="flex-container">
        <div class="egy-from-box">
          <mat-form-field>
            <mat-label>Óradíj</mat-label>
            <input class="mat-input-number" [(ngModel)]="oradij" formControlName="oradij" matInput type="number" tabindex="2"
                   (change)="munkadijakSzamolasa()" required>
            <span class="mat-suffix" matSuffix> Ft</span>
            <mat-error>Az óradíj pozítív számnak kell lennie!</mat-error>
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Munkaidő kezdete</mat-label>
            <input class="mat-input-text" [(ngModel)]="munkaidoKezdete" formControlName="munkaidoKezdete" matInput (change)="idoEllenorzese()"
                   type="time" tabindex="3" required>
            <mat-error>Munkaidő kezdetének megadása kötelező</mat-error>
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Munkaidő vége</mat-label>
            <input class="mat-input-text" [(ngModel)]="munkaidoVege" formControlName="munkaidoVege" matInput (change)="idoEllenorzese()" type="time"
                   tabindex="4" required>
            <mat-error>Munkaidő végének megadása kötelező</mat-error>
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Teljes munkaidő</mat-label>
            <input class="mat-input-text" [(ngModel)]="munkaorakSzama" formControlName="munkaorakSzama" matInput type="text">
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Normál munkadíj összeg</mat-label>
            <input class="mat-input-number" [(ngModel)]="napidijOsszeg" formControlName="napidijOsszeg" matInput type="number">
            <span class="mat-suffix" matSuffix> Ft</span>
          </mat-form-field>
        </div>
      </div>

      <div class="flex-container">
        <div class="egy-from-box">
          <mat-form-field>
            <mat-label>Túlóra díj</mat-label>
            <input class="mat-input-number" [(ngModel)]="tuloraDij" formControlName="tuloraDij" matInput type="number">
            <span class="mat-suffix" matSuffix> Ft</span>
            <mat-error>Csak számokat tartalmazhat</mat-error>
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Túlóra kezdete</mat-label>
            <input class="mat-input-text" [(ngModel)]="tuloraMunkaidoKezdete" formControlName="tuloraMunkaidoKezdete" matInput type="time">
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Túlóra vége</mat-label>
            <input class="mat-input-text" [(ngModel)]="tuloraMunkaidoVege" formControlName="tuloraMunkaidoVege" matInput (change)="idoEllenorzese()"
                   type="time">
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Túlórák</mat-label>
            <input class="mat-input-text" [(ngModel)]="tuloraMunkaorakSzama" formControlName="tuloraMunkaorakSzama" matInput type="text">
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Túlóradíj összeg</mat-label>
            <input class="mat-input-number" [(ngModel)]="tuloraDijOsszeg" formControlName="tuloraDijOsszeg" matInput type="number">
            <span class="mat-suffix" matSuffix> Ft</span>
          </mat-form-field>
        </div>
      </div>

      <div class="flex-container">
        <div class="egy-from-box">
          <mat-form-field>
            <mat-label>Éjszakai pótlék</mat-label>
            <input class="mat-input-number" [(ngModel)]="ejszakaiPotlek" formControlName="ejszakaiPotlek" matInput type="number">
            <span class="mat-suffix" matSuffix> Ft</span>
            <mat-error>Csak számokat tartalmazhat</mat-error>
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Éjszakai m. kezdete</mat-label>
            <input class="mat-input-text" [(ngModel)]="ejszakaiMunkaidoKezdete" formControlName="ejszakaiMunkaidoKezdete" matInput type="time">
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Éjszakai m. vége</mat-label>
            <input class="mat-input-text" [(ngModel)]="ejszakaiMunkaidoVege" formControlName="ejszakaiMunkaidoVege" matInput type="time">
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Éjszakai órák</mat-label>
            <input class="mat-input-text" [(ngModel)]="ejszakaiMunkaorakSzama" formControlName="ejszakaiMunkaorakSzama" matInput type="text">
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Éjszakai pótlék összeg</mat-label>
            <input class="mat-input-number" [(ngModel)]="ejszakaiPotlekOsszeg" formControlName="ejszakaiPotlekOsszeg" matInput type="number">
            <span class="mat-suffix" matSuffix> Ft</span>
          </mat-form-field>
        </div>
      </div>

      <div class="flex-container">
        <div class="egy-from-box">
          <mat-form-field>
            <mat-label>Ünnepnapi díjazás</mat-label>
            <input class="mat-input-number" [(ngModel)]="unnepnapiPotlek" formControlName="unnepnapiPotlek" matInput type="number">
            <span class="mat-suffix" matSuffix> Ft</span>
            <mat-error>Csak számokat tartalmazhat</mat-error>
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          &nbsp;
        </div>
        <div class="egy-from-box">
          &nbsp;
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Ünnepnapi órák</mat-label>
            <input class="mat-input-text" [(ngModel)]="unnepnapiMunkaorakSzama" formControlName="unnepnapiMunkaorakSzama" matInput type="text">
          </mat-form-field>
        </div>
        <div class="egy-from-box">
          <mat-form-field class="form">
            <mat-label>Ünnepnepi pótlék összeg</mat-label>
            <input class="mat-input-number" [(ngModel)]="unnepnapiPotlekOsszeg" formControlName="unnepnapiPotlekOsszeg" matInput type="number">
            <span class="mat-suffix" matSuffix> Ft</span>
          </mat-form-field>
        </div>
      </div>

      <div class="flex-container">
        <div class="ket-from-box">
          <mat-checkbox [(ngModel)]="szakkepzetsegetIgenyel" formControlName="szakkepzetsegetIgenyel" class="check-box-text" tabindex="5">
            Szakképzetséget igényel
          </mat-checkbox>
        </div>
        <div class="egy-from-box">
          &nbsp;
        </div>
        <div class="egy-from-box">
          &nbsp;
        </div>
        <div class="egy-from-box">
          <mat-form-field>
            <mat-label>Összesen</mat-label>
            <input class="mat-input-number" [(ngModel)]="osszesen" formControlName="osszesen" matInput type="number">
            <span class="mat-suffix" matSuffix> Ft</span>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>

  <div style="display: flex; flex-direction: row; justify-content: space-between">
    <div style="display: flex;width: 100%">
      <div *ngIf="hibakLathato" class="hibak-box">
        <div *ngIf="munkaidoError1" class="egy-hiba">{{ munkaidoError1 }}</div>
        <div *ngIf="munkaidoError2" class="egy-hiba">{{ munkaidoError2 }}</div>
        <div *ngIf="munkaidoError3" class="egy-hiba">{{ munkaidoError3 }}</div>
        <div *ngIf="munkaidoError4" class="egy-hiba">{{ munkaidoError4 }}</div>
      </div>
    </div>
    <div style="display:flex; justify-content: end; padding: 1em;">
      <div style="display: flex; flex-direction: column; width: 100%">
        <div style="display: flex; flex-direction: row; width: 100%; margin: 0 0.5em 0.5em 0.5em">
          <button *ngIf="!isInaktivGomb" class="alap-button gomb-kieg" (click)="inaktivClick()">
            Inaktív
          </button>
          <button *ngIf="!isInaktivGomb" class="alap-button gomb-kieg" (click)="nullasClick()">
            Nullás
          </button>
        </div>
        <div style="display: flex; flex-direction: row; width: 100%;  margin: 0 0.5em 0 0.5em">
          <button class="alap-button gomb-kieg feher-gomb" (click)="megseClick()">
            mégse
          </button>
          <button class="alap-button gomb-kieg" (click)="mentesClick()">
            Mentés
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
