:root {
  --dark-primary-color: #7B1FA2;
  --default-primary-color: #9C27B0;
  --light-primary-color: #E1BEE7;
  --text-primary-color: #FFFFFF;
  --accent-color: #FF9800;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;

}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alap-gomb, .alap-gomb-120, .alap-gomb-140 {
  background-color: var(--dark-primary-color);
  border: 1px solid var(--dark-primary-color);
  padding: 8px 8px 8px 2px;
  width: 100px;
  color: var(--text-primary-color);
  font-weight: bolder;
  font-size: 1em;
  margin: 10px 10px;
  text-align: center;
  box-shadow: 2px 5px 2px var(--divider-color);
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
}

