<mat-card *ngIf="egyNavAdat.id" style="min-height: 50%; padding: 0">
  <div class="jobb-oldal-also-panel">
    <div class="jobb-also-adat-box" style="flex-direction: column">
      <div style="text-align: center;font-size: 1em;font-weight: 700;padding: 0.5em;color: var(--default-primary-color)">Rögzített munkaórák</div>

      <table *ngIf="munkavallaloiRogzitettAdat" mat-table [dataSource]='foglalkoztatasAdatokDTO' class="mat-elevation-z8" style="width: 100%">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="reszlegKod">
          <mat-header-cell *matHeaderCellDef>reszlegKod</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.reszlegKod }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="szervezet">
          <mat-header-cell style="min-width: 250px;justify-content: flex-start" *matHeaderCellDef>Szervezet</mat-header-cell>
          <mat-cell style="min-width: 250px;justify-content: flex-start" *matCellDef="let element;">{{ element.reszlegNeve }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="munkanapDatuma">
          <mat-header-cell style="justify-content: center" *matHeaderCellDef>Munka nap</mat-header-cell>
          <mat-cell style="justify-content: center" *matCellDef="let element"> {{element.munkanapDatuma | date: 'yyyy-MM-dd' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="munkaidoKezdete">
          <mat-header-cell style="justify-content: center" *matHeaderCellDef>Kezdete</mat-header-cell>
          <mat-cell style="justify-content: center" *matCellDef="let element;">{{ element.munkaidoKezdete }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="munkaidoVege">
          <mat-header-cell style="justify-content: center" *matHeaderCellDef>Vége</mat-header-cell>
          <mat-cell style="justify-content: center" *matCellDef="let element;">{{ element.munkaidoVege }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="teljesMunkaorakSzama">
          <mat-header-cell style="justify-content: flex-end" *matHeaderCellDef>Munkaórák</mat-header-cell>
          <mat-cell style="justify-content: flex-end" *matCellDef="let element;">{{ element.teljesMunkaorakSzama }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="oradij">
          <mat-header-cell style="justify-content: flex-end" *matHeaderCellDef>Óradíj</mat-header-cell>
          <mat-cell style="justify-content: flex-end" *matCellDef="let element;">{{ element.oradij | currency: 'HUF':'':'1.0-0'}} Ft</mat-cell>
        </ng-container>

        <ng-container matColumnDef="osszesen">
          <mat-header-cell style="justify-content: flex-end; padding-right: 1em" *matHeaderCellDef>Összesen</mat-header-cell>
          <mat-cell style="justify-content: flex-end; padding-right: 1em" *matCellDef="let element;">{{ vegosszegSzamolas(element) | currency: 'HUF':'':'1.0-0'}} Ft</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gombok">
          <mat-header-cell *matHeaderCellDef>Müveletek</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <mat-icon (click)="rekordModositasa(element)" style="color: var(--default-primary-color)">edit</mat-icon>
            <mat-icon (click)="rekordTorlese(element)">delete</mat-icon>
            <mat-icon (click)="printEfoAdatlap(element)" style="color: var(--light-primary-color)">print</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="rogzitettMunkaidokdisplayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: rogzitettMunkaidokdisplayedColumns;"></mat-row>
      </table>

    </div>
  </div>

</mat-card>
