<mat-card *ngIf="egyNavAdat.id" style="min-height: 50%; padding: 0">
  <div class="jobb-oldal-also-panel">
    <div class="jobb-also-adat-box" style="flex-direction: column">
      <div style="text-align: center;font-size: 1em;font-weight: 700;padding: 0.7em;color: var(--default-primary-color)">Rögzített munkaórák</div>

      <table *ngIf="munkavallaloiRogzitettAdat" mat-table [dataSource]='munkavallaloiRogzitettAdatokDTO' class="mat-elevation-z8" style="width: 100%">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rogzitettNap">
          <mat-header-cell style="width: 200px" *matHeaderCellDef>Munka nap</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.munkanap | date: 'yyyy-MM-dd' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="munkaidoKezdete">
          <mat-header-cell *matHeaderCellDef>Kezdet</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{ element.munkaidoKezdete }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="munkaidoVege">
          <mat-header-cell *matHeaderCellDef>Vége</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{ element.munkaidoVege }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="munkaorakSzama">
          <mat-header-cell *matHeaderCellDef>Munkaórák</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{ convertPercToOraString(element.munkaorakSzama) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="normalOrakSzama">
          <mat-header-cell *matHeaderCellDef>Normál órák</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{ convertPercToOraString(element.normalOrakSzama) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tulorakSzama">
          <mat-header-cell *matHeaderCellDef>Túlórák</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{ convertPercToOraString(element.tulorakSzama) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="oradij">
          <mat-header-cell *matHeaderCellDef>Óradíj</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{ element.oradij | currency: 'HUF':'':'1.0-0'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="napidij">
          <mat-header-cell *matHeaderCellDef>Napidíj</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{ element.napidij | currency: 'HUF':'':'1.0-0'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tuloraDij">
          <mat-header-cell *matHeaderCellDef>Túlóradíj</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{ element.tuloradij | currency: 'HUF':'':'1.0-0'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="osszesen">
          <mat-header-cell *matHeaderCellDef>Összesen</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{ element.napidij + element.tuloradij | currency: 'HUF':'':'1.0-0'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="szervezet">
          <mat-header-cell *matHeaderCellDef>Szervezet</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{ element.tuloradij | currency: 'HUF':'':'1.0-0'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gombok">
          <mat-header-cell *matHeaderCellDef>Müveletek</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <mat-icon style="color: var(--default-primary-color)">edit</mat-icon>
            <mat-icon (click)="rekordTorlese(element)">delete</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="rogzitettMunkaidokdisplayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: rogzitettMunkaidokdisplayedColumns;"></mat-row>
      </table>

    </div>
  </div>

</mat-card>
